[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BaneP
[access "refs/for/refs/*"]
	read = group user/BaneP
	push = group user/BaneP
	label-Code-Review = -2..+2 group user/BaneP
	label-Verified = -1..+1 group user/BaneP
	rebase = group user/BaneP
	removeReviewer = group user/BaneP
	submit = group user/BaneP
[access "refs/heads/*"]
	read = group user/BaneP
	create = group user/BaneP
	push = +force group user/BaneP
	pushMerge = group user/BaneP
[access "refs/tags/*"]
	push = +force group user/BaneP
	pushTag = group user/BaneP
	pushSignedTag = group user/BaneP
